<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/94bca235-c0fe-4378-a179-9212ce84ca0f/resourceGroups/ProppyAPI20210510023521ResourceGroup/providers/Microsoft.Web/sites/ProppyAPITest</ResourceId>
    <ResourceGroup>ProppyAPI20210510023521ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://proppyapitest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>proppyapitest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ProppyAPITest</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ProppyAPITest</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>